[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
jinja2 ="<3.1.0"
python-dotenv = "==1.0.0"
flask-cors = "==4.0.0"
requests = "==2.31.0"
pymongo = "==3.11.3"

[dev-packages]
black = "*"
pylint = "*"
pycodestyle = "*"

[requires]
python_version = "3.9"
